
APP_NAME="GDec Décoration"
#A CHANGER EN PROD : Passer de 'local' à 'production'
#A CHANGER EN PROD : Passer 'APP_DEBUG' à 'false' (Indispensable pour bloquer les failles de sécurité)
#A CHANGER EN PROD : Remplacer l'URL par le vrai nom de domaine 
APP_ENV=local
APP_KEY=base64:9y08TJdNho1QNJFEmaVLDZRXi9X4nmGZacrGebgcZgo=
APP_DEBUG=true
APP_URL=http://localhost:8000

# CONFIGURATION : Paramètres de langue et de génération de données
APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_FAKER_LOCALE=fr_FR

APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=12

#A CHANGER EN PROD : Changer 'debug' par 'error' ou 'info' pour ne pas saturer le disque dur de logs inutiles
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

#A CHANGER EN PROD : Remplacer '127.0.0.1' par l'adresse IP du serveur MySQL de production
#A CHANGER EN PROD : Remplacer 'root' par le vrai nom de l'utilisateur MySQL sécurisé
#A CHANGER EN PROD : METTRE OBLIGATOIREMENT un mot de passe 
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=backend
DB_USERNAME=root
DB_PASSWORD=


SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

# ==============================================================================
# SYSTÈME DE FICHIERS, CACHE ET FILES D'ATTENTE (QUEUES ASYNCHRONES)
# ==============================================================================
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
CACHE_STORE=database

# CONFIGURATION : File d'attente active via la base de données
# RAISON : Nécessaire pour détacher l'envoi du mail de confirmation en arrière-plan.
QUEUE_CONNECTION=database

MEMCACHED_HOST=127.0.0.1
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# ===============================
# CONFIGURATION DE LA MESSAGERIE 
# ================================

#A CHANGER EN PROD : Remplacer '127.0.0.1' par l'adresse du vrai serveur de messagerie
#A CHANGER EN PROD : Changer le port '1025' (Mailpit) par le port sécurisé officiel 
#A CHANGER EN PROD : Renseigner le vrai nom d'utilisateur et mot de passe de la boîte de messagerie pro
MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
# Modification: Port 1025 obligatoire pour communiquer avec Mailpit en local
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
# MOdificaion : Identité
MAIL_FROM_ADDRESS="contact@gdec.bj"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
